body{
    text-align: center;
    color: #121212;
    font-family: sans-serif;
}

img {
    width: 380px;
    border: 3px solid black;
}

#desc {
    font-style: italic;
    margin-bottom: 30px;
}

input {
    display: block;
    margin: 9px auto;
    padding: 10px 20px;
    text-align: center;
    border: 3px solid black;
    width: 184px;
    font-weight: 900;
}

button {
    align-items: center;
    display: block;
    margin: auto auto;
    padding: 10px 20px;
    width: 229px;
    background-color: #121212;
    color: white;
    font-weight: bolder;
    border: 3px solid black;
}

#terms {
    font-style: italic;
}

a {
    color: inherit;
}